<h1>Create a drone</h1>

<form action="/drones/create" method="post">
    <label for="">Name</label>
    <input type="text" name="name" value="fakeDrone">
    <label for="">Propellers</label>
    <input type="number" name="propellers" value="3">
    <label for="">Maximum Speed</label>
    <input type="number" name="maxSpeed" value="5">
    <button>Create</button>
</form>