@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 40px;
  font-family: Arial;
}

#title {
  font-size: .9rem;
  font-weight: 400;
  box-shadow: -1px 5px 4px -5px black;
  padding: 9px 0 9px;
}

#range-widget {
  display: grid;
  grid-template-columns: 1fr 290px;
  grid-template-rows: 200px 50px;
  padding: 40px 0;
}

#intro {
  font-size: 3vmin;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#current-value {
  font-size: 9rem;
  grid-column: 2 / 3;
  transition: color 1s linear;
  font-family: Roboto;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#input-range {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.danger {
  color: #f44336;
}

.warning {
  color: #ffc107;
}

.success {
  color: #4caf50;
}
