<form method="post" action="/restaurant" class="form">
    <h1>create a new resto</h1>
    <label for="resto-name">name</label>
    <input class="input" id="resto-name" type="text" name="name" value="yes">
    <label for="resto-specialty">specialty</label>
    <input class="input" id="resto-specialty" type="text" name="specialty" value="mexican">
    <div>
        <label>is vegan ?</label>
        <label for="is-vegan">yes</label>
        <input id="is-vegan" name="isVegan" type="radio" value="true">
        <label for="is-not-vegan">no</label>
        <input id="is-not-vegan" name="isVegan" type="radio" value="false" checked>
    </div>
    <label for="resto-city">city</label>
    <input class="input" id="resto-city" type="text" name="city" value="paris">
    <label for="resto-country">country</label>
    <input class="input" id="resto-country" type="text" name="country" value="france">
    <label for="resto-street">street</label>
    <input class="input" id="resto-street" type="text" name="street" value="rue fake">
    <label for="resto-street-nb">street number</label>
    <input class="input" id="resto-street-nb" type="number" name="streetNumber" value="100">
    <label for="resto-zipcode">zipcode</label>
    <input class="input" id="resto-zipcode" type="text" name="zipcode" value="75018">

    <button class="btn">create !</button>
</form>
