body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.is-hidden {
  display: none;
}


#logo-main a {
  font-size: 1.4rem;
  color: inherit;
}

#header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
