<h1>todo list AJAX</h1>
<div class="widget">
    <input type="text" id="task" placeholder="what's next todo ?">
    <button id="btn-create" class="btn">add task</button>
    <button id="btn-clear" class="btn">clear all tasks</button>
</div>
<ul id="todos"></ul>