<h1 class="title">Dashboard</h1>
<nav>
    <a href="/dashboard/artist" class="link">artists</a> |
    <a href="/dashboard/artist/create" class="link"><i class="fa fa-plus"></i> artist</a> |

    <a href="/dashboard/album" class="link">albums</a> |
    <a href="/dashboard/album/create" class="link"><i class="fa fa-plus"></i> album</a> |

    <a href="/dashboard/label" class="link">labels</a> |
    <a href="/dashboard/label/create" class="link"><i class="fa fa-plus"></i> label</a>
</nav>
<p>
    welcome to your admin panel !
</p>