<h1>Home of music</h1>
<p>
    Music is life, blabla... <b>welcome !</b>
</p>
<p>
    todo : display below the 3 last inserted Artists.<br>
    todo : display below the 3 last inserted Albums.<br>
</p>

