<h1 class="title">Home of music</h1>
<p>
    Music is life, blabla... <b>welcome !</b>
</p>

<hr>

<h2>Bonuses</h2>

<p class="todo">
    <b>todo</b> : add a route displaying all artists to public visitors
</p>
<p class="todo">
    <b>todo</b> : add a route displaying all albums to public visitors
</p>
<p class="todo">
    <b>todo</b> : add a route displaying all labels to public visitors
</p>
<p class="todo">
    <b>todo</b> : add a route displaying each resource"s details (artists, albums, labels)
</p>

<p class="todo">
    <b>todo</b>: implement a comment system on album and artist : a user can post a comment on any detail page.
</p>

<p>
    <b>todo</b>: implement a like system : a user can like/unlike an artist or album
</p>

<hr>

{{#if lastArtists.length}}
<h2 class="title">latest artists</h2>
{{#each lastArtists}}
<div class="card artist">
    <span>{{this.name}}</span>
</div>
{{/each}}
{{/if}}

{{#if lastAlbums.length}}
<h2 class="title">latest albums</h2>
{{#each lastAlbums}}
<div class="card album">
    <span>{{this.title}}</span>
</div>
{{/each}}
{{/if}}