<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/form.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <header id="header-main">
    <span id="logo-main">
      <a href="/">Artistify</a>
    </span>
    <nav>
      <a href="/" class="link">home</a>
      <a href="/dashboard" class="link">dashboard</a>
      <a href="/dashboard/artist" class="link">artists</a>
      <a href="/dashboard/artist/create" class="link"><i class="fa fa-plus"></i> artist</a>

      <a href="/dashboard/album" class="link">albums</a>
      <a href="/dashboard/album/create" class="link"><i class="fa fa-plus"></i> album</a>

      <a href="/dashboard/label" class="link">labels</a>
      <a href="/dashboard/label/create" class="link"><i class="fa fa-plus"></i> label</a>
    </nav>
  </header>
  {{{body}}}
</body>

</html>