<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body>
    <nav>
      <a href="/" class="link">home</a>
      <a href="/dashboard" class="link">dashboard</a>
      <a href="/dashboard/labels" class="link">labels</a>
      <a href="/dashboard/labels/create" class="link">create new label</a>
    </nav>
    {{{body}}}
  </body>
</html>
