<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1 class="title">About my startup</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia aut suscipit dicta illum eveniet nobis nam est nihil corrupti facilis minus minima odio vitae, adipisci possimus perspiciatis corporis ullam excepturi?
    </p>
    <p>
        I'm mean seriously, my startup rocks : so please invest : )
    </p>
</body>
</html>