<div class="btns">
    <form method="post" action="/todo/delete/{{this._id}}">
        <button>x</button>
    </form>
    <a href="/todo/edit/{{this._id}}">
        <button>
            <span>e</span>
        </button>
    </a>
</div>