* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Avenir;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px 1fr 120px;
  min-height: 100vh;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
}

#header_main {
  background: #208075;
  grid-column: 1/ 9;
}

#sidebar_main {
  background: #663399;
  grid-column: 1 / 3;
}
#content_main {
  background: #101;
  grid-column: 3 / 9;
}
#footer_main {
  background: #feca1e;
  grid-column: 1/ 9;
}
