<h1>todo list</h1>
{{!-- 1 form to create --}}
<form method="post" action="/todo">
    <label for="task">task</label>
    <input id="task" name="task" type="text">
    <button>add todo</button>
</form>
{{!-- 1 list to read --}}
<ul id="todo-list">
    {{#each todos}}
    {{#if this.status}}
    <li class="item done">
        <span>{{this.task}}</span>
        {{> btns this }}
    </li>
    {{else}}
    <li class="item pending">
        <span>{{this.task}}</span>
        {{> btns this }}
    </li>
    {{/if}}
    {{/each}}
</ul>