body {
  font-family: Arial;
}

.block {
  height: 200px;
  width: 200px;
  background: dodgerblue;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.block.is-active {
  background: darkgoldenrod;
}
