.form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
}

.form__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-size: 20px;
  margin-bottom: 5px;
}

.form__input {
  padding: 8px 12px;
  font-size: 18px;
}

.form__button {
  padding: 10px 20px;
  max-width: 320px;
  align-self: flex-end;
}
