<h1 class="title">Enroll</h1>

<form method="post" action="/add-ironhacker">

    <label for="userName">name</label>
    <input id="userName" name="name" type="text" value="guillaume">

    <label for="userEmail">email</label>
    <input id="userEmail" name="email" type="email" value="gui@gui.gui">

    <label for="userFavLang">favorite langage</label>
    <input id="userFavLang" name="favLang" type="text" value="JS">

    <button>ok</button>
</form>